@import "tailwindcss";

@layer base {
  body {
    @apply bg-md-background text-md-on-background;
    font-family: var(--font-outfit);
  }
}

@theme {
  --breakpoint-xs: 31.25rem;
}

@theme inline {
  --color-md-primary: var(--md-sys-color-primary);
  --color-md-surface-tint: var(--md-sys-color-surface-tint);
  --color-md-on-primary: var(--md-sys-color-on-primary);
  --color-md-on-primary-light-fixed: rgb(255 255 255);
  --color-md-primary-container: var(--md-sys-color-primary-container);
  --color-md-on-primary-container: var(--md-sys-color-on-primary-container);
  --color-md-secondary: var(--md-sys-color-secondary);
  --color-md-on-secondary: var(--md-sys-color-on-secondary);
  --color-md-secondary-container: var(--md-sys-color-secondary-container);
  --color-md-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --color-md-tertiary: var(--md-sys-color-tertiary);
  --color-md-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-md-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-md-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --color-md-error: var(--md-sys-color-error);
  --color-md-on-error: var(--md-sys-color-on-error);
  --color-md-error-container: var(--md-sys-color-error-container);
  --color-md-on-error-container: var(--md-sys-color-on-error-container);
  --color-md-background: var(--md-sys-color-background);
  --color-md-on-background: var(--md-sys-color-on-background);
  --color-md-surface: var(--md-sys-color-surface);
  --color-md-on-surface: var(--md-sys-color-on-surface);
  --color-md-surface-variant: var(--md-sys-color-surface-variant);
  --color-md-on-surface-variant: var(--md-sys-color-on-surface-variant);
  --color-md-outline: var(--md-sys-color-outline);
  --color-md-outline-variant: var(--md-sys-color-outline-variant);
  --color-md-shadow: var(--md-sys-color-shadow);
  --color-md-scrim: var(--md-sys-color-scrim);
  --color-md-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-md-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-md-inverse-primary: var(--md-sys-color-inverse-primary);
  --color-md-primary-fixed: var(--md-sys-color-primary-fixed);
  --color-md-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
  --color-md-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
  --color-md-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
  --color-md-secondary-fixed: var(--md-sys-color-secondary-fixed);
  --color-md-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
  --color-md-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
  --color-md-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);
  --color-md-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
  --color-md-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
  --color-md-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
  --color-md-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);
  --color-md-surface-dim: var(--md-sys-color-surface-dim);
  --color-md-surface-bright: var(--md-sys-color-surface-bright);
  --color-md-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-md-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-md-surface-container: var(--md-sys-color-surface-container);
  --color-md-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-md-surface-container-highest: var(--md-sys-color-surface-container-highest);
}

:root {
  --md-sys-color-primary: rgb(65 94 145);
  --md-sys-color-surface-tint: rgb(65 94 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(215 227 255);
  --md-sys-color-on-primary-container: rgb(40 70 119);
  --md-sys-color-secondary: rgb(86 94 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(218 226 249);
  --md-sys-color-on-secondary-container: rgb(62 71 89);
  --md-sys-color-tertiary: rgb(112 85 116);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(250 216 253);
  --md-sys-color-on-tertiary-container: rgb(87 62 92);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(25 28 32);
  --md-sys-color-surface-variant: rgb(224 226 236);
  --md-sys-color-on-surface-variant: rgb(68 71 78);
  --md-sys-color-outline: rgb(116 119 127);
  --md-sys-color-outline-variant: rgb(196 198 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 54);
  --md-sys-color-inverse-on-surface: rgb(240 240 247);
  --md-sys-color-inverse-primary: rgb(171 199 255);
  --md-sys-color-primary-fixed: rgb(215 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 63);
  --md-sys-color-primary-fixed-dim: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(40 70 119);
  --md-sys-color-secondary-fixed: rgb(218 226 249);
  --md-sys-color-on-secondary-fixed: rgb(19 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(190 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 71 89);
  --md-sys-color-tertiary-fixed: rgb(250 216 253);
  --md-sys-color-on-tertiary-fixed: rgb(41 19 46);
  --md-sys-color-tertiary-fixed-dim: rgb(221 188 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 62 92);
  --md-sys-color-surface-dim: rgb(217 217 224);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 250);
  --md-sys-color-surface-container: rgb(237 237 244);
  --md-sys-color-surface-container-high: rgb(231 232 238);
  --md-sys-color-surface-container-highest: rgb(226 226 233);
}

.dark {
  --md-sys-color-primary: rgb(171 199 255);
  --md-sys-color-surface-tint: rgb(171 199 255);
  --md-sys-color-on-primary: rgb(12 48 95);
  --md-sys-color-primary-container: rgb(40 70 119);
  --md-sys-color-on-primary-container: rgb(215 227 255);
  --md-sys-color-secondary: rgb(190 198 220);
  --md-sys-color-on-secondary: rgb(40 48 65);
  --md-sys-color-secondary-container: rgb(62 71 89);
  --md-sys-color-on-secondary-container: rgb(218 226 249);
  --md-sys-color-tertiary: rgb(221 188 224);
  --md-sys-color-on-tertiary: rgb(63 40 68);
  --md-sys-color-tertiary-container: rgb(87 62 92);
  --md-sys-color-on-tertiary-container: rgb(250 216 253);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(226 226 233);
  --md-sys-color-surface-variant: rgb(68 71 78);
  --md-sys-color-on-surface-variant: rgb(196 198 208);
  --md-sys-color-outline: rgb(142 144 153);
  --md-sys-color-outline-variant: rgb(68 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(46 48 54);
  --md-sys-color-inverse-primary: rgb(65 94 145);
  --md-sys-color-primary-fixed: rgb(215 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 63);
  --md-sys-color-primary-fixed-dim: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(40 70 119);
  --md-sys-color-secondary-fixed: rgb(218 226 249);
  --md-sys-color-on-secondary-fixed: rgb(19 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(190 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 71 89);
  --md-sys-color-tertiary-fixed: rgb(250 216 253);
  --md-sys-color-on-tertiary-fixed: rgb(41 19 46);
  --md-sys-color-tertiary-fixed-dim: rgb(221 188 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 62 92);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(30 32 37);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
}

