{% extends "base.html" %}

{% block gi_css %}
<link href="{{ url_for('zzz.static', filename='zzz.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body_content">
    <div class="bc_code_list_container">
        <div class="bc_header_container">
            <div>
                <h1>List of Codes</h1>
                <p>Last checked: <time datetime="{{data.metadata.modified_date}}" id="bc_target_date"></time><span id="bc_time_interval"></span><span id="bc_show_current_time_and_date"></span></p>
            </div>
            <form method="POST" action="/zzz" class="bc_form_container">
                <input type="submit" value="Refresh data" name="refresh_data"/>
            </form>
        </div>
        <div class="bc_cards_container">
            {% for entry in data.entries_list %}
            <div class="bc_card">
                <div class="bc_code_details_container">
                    <p class="bc_reward_code_wrapper"><a href="https://zenless.hoyoverse.com/redemption?code={{entry.code}}" target="_blank">{{entry.code}}</a></p>
                    <p class="bc_reward_details_wrapper">{{entry.reward_details}}</p>
                </div>
                <div class="bc_reward_code_status_wrapper">
                    <span class="bc_reward_code_status">Available</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
